* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

header{
    width: 1921px;
    height: 80px;
}

header, footer{
    background-color: #6C63FF;;
}

.btn{
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
}